/Chicago Health Atlas Data Download - Census Tracts-10.csv
/ClassificationsLUI2015final.pdf
/LandUse_Lookup_2015.csv
/Land_Use_Inventory_for_Northeast_Illinois_2010_v3_-6260915175408703503
/Land_Use_Inventory_for_Northeast_Illinois_2010_v3_3563736556810627201.csv
/chicago_data.xls
/co_data
/data_merge
/layer_with_categories.cpg
/layer_with_categories.dbf
/layer_with_categories.prj
/layer_with_categories.qmd
/layer_with_categories.shp
/layer_with_categories.shx
/try_again